hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.top-block {
  height: auto;
}

.top-right {
  font-size: 1rem;
}

.dt-center,
.dt-head-center,
.dt-body-center {
  text-align: center;
}

.gridTable {
  font-size: 0;
}

.gridBase {
  font-size: 1rem;
  padding: 0 !important;
  margin: 0 !important;
  border: solid gray;
  border-width: 1px;
  width: 25px;
  height: 25px;
}

.gridBase.gridBegin {
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
}

.gridBase.gridEnd {
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

.gridBase.gridCurrent {
  height: 35px !important;
}

.gridBase.gridTitle {
  border-radius: 0.25rem;
  margin: 3px !important;
  padding: 0.2rem !important;
  height: auto !important;
  width: auto !important;
}

.gridHemisphere {
  height: 42px;
}

.gridBase.enable {
  /* background-color: bisque; */
  background-color: rgba(151, 233, 184, 1);
}

.gridBase.disable {
  background-color: rgba(112, 179, 139, 0.2);
}
