hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.dt-center,
.dt-head-center,
.dt-body-center {
  text-align: center;
}

.table-nostriped tbody tr:nth-of-type(even),
.table-nostriped tbody tr:nth-of-type(odd) {
  background-color: transparent;
}

.gridTable {
  font-size: 0;
}

.gridBase {
  display: inline-block;
  font-size: 1rem;
  margin: 0;
  text-align: center;
  border: 1px solid gray;
  width: 25px;
  height: 25px;
}

.gridBegin {
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
}

.gridEnd {
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

.gridBase.enable {
  background-color: wheat;
}

.gridBase.disable {
  background-color: lightgray;
}
